.container{
    width: 640px;
}
.ttable{
    border: 3px solid blue;
    width: 400px;
    text-align: center;
}
th, td{
    border: 1px solid cyan;
}
.interest{
    align-items: center;
    color:limegreen;
}